@import '../../util/styles/colors.scss';
@import '../../util/styles/spacing.scss';
@import '../../util/styles/breakpoints.scss';
@import '../../util/styles/typography.scss';
@import '../../util/styles/icons.scss';
.overlay {
    position: fixed;
    background: $overlay-color;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.8;
}

.content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    @media (#{$medium-up}) {
        width: 80%;
    }
}

.close {
    position: fixed;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.icon {
    @extend %icon;
}