@import '../../util/styles/breakpoints.scss';
@import '../../util/styles/spacing.scss';
@import '../../util/styles/colors.scss';

.grid {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.cell {
    cursor: pointer;
    border: 1px solid $border-color;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    margin: $small-spacing 0;

    @media (#{$large}) {
        will-change: transform;
        transition: 0.2s transform ease-in;
        &:hover, &.selected {
            transform: scale(1.1);
        }
    }
}

@media (#{$small-up}) {
    .grid {
        display: flex;
        flex-flow: row wrap;
        align-content: space-evenly;
    }

    .cell {
        flex: 1 0 auto;
        align-self: stretch;
        width: auto;
        margin : $small-spacing;
    }
}
.cell--error {
    min-width: 200px;
    &:hover {
        transform: none;
    }
}

.photo--big {
    width: 100%;
    margin: auto;
}

.img--error{
    fill: $white;
}

